@charset "utf-8";
/* CSS Document */


body,div,h1,h2,h3,h4,h5,h6,ul,li,p,a,dl,dt,dd,input,img{margin:0;padding:0}
li {list-style: none;}
a{text-decoration:none;}
img{border:0;}
input{border:0;}
html.body{height:100%;}
body{font-family:Arial,"微软雅黑";color:#fff;background:url(file:///D|/month3/month3_%E4%BD%9C%E4%B8%9A/m3-week1-%E5%A4%A9%E6%B0%94%E4%BD%9C%E4%B8%9A/images/60-130131104K9.jpg) no-repeat;background-size:auto;}



.clearfix:after{content:" ";display:block;height:0;clear:both;}